{% extends 'home/base.html' %}
{% block body %}
<div class="relative isolate px-6 pt-2 lg:px-8">
    <div class="absolute inset-x-0 -top-40 z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
    </div>
    <section class="fade-in">
        <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
            <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
                <h1
                    class="mb-8 text-5xl tracking-tight font-extrabold bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-transparent">
                    About Us
                </h1>
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">
                    Welcome to Start Market Algo Bot – Pioneering the Future of Trading
                </h2>
                <p class="mb-4">
                    At Start Market Algo Bot, we are dedicated to revolutionizing the trading landscape by providing
                    innovative tools that empower traders to make informed decisions. Our mission is to enhance trading
                    accuracy and efficiency through cutting-edge technology and user-friendly solutions.
                </p>
                <p>Our mission is to empower traders with the tools and insights needed to navigate the financial
                    markets with confidence.</p>
            </div>
            <div class="grid grid-cols-2 gap-4 mt-8 fade-in">
                <img class="w-full rounded-lg" src="https://s3.tradingview.com/wall-of-love/BZmeg-Wnw97.jpg"
                    alt="office content 1">
                <img class="mt-4 w-full lg:mt-10 rounded-lg"
                    src="https://s3.tradingview.com/wall-of-love/98a468671d884cecadfcf0a1dde839f9.jpg"
                    alt="office content 2">
            </div>
        </div>
    </section>
    <section class="grid gap-12 md:grid-cols-3 md:gap-16 mt-8 mb-36 fade-in"> 
        <article class="text-center">
            <h2>
                <p class="text-white text-5xl font-extrabold mb-2 hover:text-6xl">
                    12+
                </p>
                <span
                    class="inline-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-indigo-300 mb-2">Stratergies</span>
            </h2>
            <p class="text-sm text-slate-500">
                Discover Advanced Trading Strategies with Start Market Algo Bot.
                Our advanced trading indicator leverages sophisticated algorithms to capture market trends and
                reversals, offering a comprehensive solution for traders seeking to enhance their trading strategies.
            </p>
        </article>

        <article class="text-center">
            <h2>
                <p class="text-white text-5xl font-extrabold mb-2 hover:text-6xl">
                    40K+
                </p>
                <span
                    class="inline-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-indigo-300 mb-2">Users</span>
            </h2>
            <p class="text-sm text-slate-500">
                Transform your trading experience today. Embrace precision, harness opportunity, and achieve your
                financial goals with Start Market Algo Bot—your gateway to smarter trading.
            </p>
        </article>

        <article class="text-center">
            <h2>
                <p class="text-white text-5xl font-extrabold mb-2 hover:text-6xl">
                    34M+
                </p>
                <span
                    class="inline-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-indigo-300 mb-2">Orders</span>
            </h2>
            <p class="text-sm text-slate-500">
                Start Market Algo Bot revolutionizes trading by providing powerful tools to identify buy and sell
                signals
                based on price action and moving averages.
            </p>
        </article>
    </section>
</div>
{% endblock body %}