{% extends 'home/base.html' %}
{% block body %}
<div class="relative isolate px-6 pt-2 lg:px-8">
    <div class="absolute inset-x-0 -top-40 z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
    </div>
    <section class="py-2 sm:py-2 md:py-24 lg:py-10 fade-in">
        <div class="hidden sm:flex sm:justify-center">
            <div
                class="relative rounded-full px-3 py-1 text-sm leading-6 text-white ring-1 ring-white hover:ring-gray-900/20">
                Announcing our next Indicator to trade. <a href="#" class="font-semibold text-indigo-600"><span
                        class="absolute inset-0" aria-hidden="true"></span><a href="/indicators" target="_blank">Read
                        more</a> <span aria-hidden="true">&rarr;</span></a>
            </div>
        </div>

        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
            <div class="mr-auto place-self-center lg:col-span-7">
                <h1
                    class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-transparent">
                    Trade <span class="sm:inline-block hidden">accuracy</span> with
                </h1>
                <h1
                    class="typing max-w-2xl mb-4 text-4xl font-bold tracking-tight leading-none md:text-5xl xl:text-6xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-transparent">
                    Start Market
                </h1>

                <p class="max-w-2xl mb-6 font-light text-gray-100 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                    Discover Advanced Trading Strategies with StartMarket Algo Bot
                </p>
                <a href="/contact"
                    class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 bg-white dark:focus:ring-gray-800">
                    Contact Us
                </a>
                <a href="/indicators"
                    class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                    Explore
                    <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>

            </div>
            <div class="lg:mt-0 lg:col-span-5 lg:flex rounded-2xl mt-12 overflow-hidden cursor-pointer">
                <div class="relative z-50 w-full h-0 cursor-pointer" style="padding-bottom: 56.25%;">
                    <iframe class="absolute top-0 left-0 w-full h-full rounded-2xl cursor-pointer"
                        src="https://www.youtube.com/embed/3amcz7VtiA4?si=ysTSRkYh2GTC1wlL&amp;controls=0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <div class="mx-auto max-w-6xl py-4 fade-in">
        <h1
            class="mb-14 text-center text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-transparent">
            Unlock the Power of Precision Trading with Start Market Algo Bot
        </h1>
        <video class="video-LvEbEsr1 rounded-2xl mt-4" poster="" muted="" autoplay="" loop="" playsinline="">
            <source src="https://static.tradingview.com/static/bundles/widgets-main-video.hvc1.ca6978f4c1d93d75de54.mp4"
                type="video/mp4;codecs=hvc1.1.0.L150.b0">
            <source src="https://static.tradingview.com/static/bundles/widgets-main-video.a3d7152108cd9db92d6c.webm"
                type="video/webm">
            <source src="https://static.tradingview.com/static/bundles/widgets-main-video.avc1.5746d3e24209326a4c11.mp4"
                type="video/mp4;codecs=avc1">
        </video>
    </div>


    <section class="grid gap-12 md:grid-cols-3 md:gap-16 mt-24 fade-in">
        <article class="text-center">
            <h2>
                <p class="text-white text-5xl font-extrabold mb-2 hover:text-6xl">
                    12+
                </p>
                <span
                    class="inline-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-indigo-300 mb-2">Stratergies</span>
            </h2>
            <p class="text-sm text-slate-500">
                Discover Advanced Trading Strategies with Start Market Algo Bot.
                Our advanced trading indicator leverages sophisticated algorithms to capture market trends and
                reversals, offering a comprehensive solution for traders seeking to enhance their trading strategies.
            </p>
        </article>

        <article class="text-center">
            <h2>
                <p class="text-white text-5xl font-extrabold mb-2 hover:text-6xl">
                    40K+
                </p>
                <span
                    class="inline-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-indigo-300 mb-2">Users</span>
            </h2>
            <p class="text-sm text-slate-500">
                Transform your trading experience today. Embrace precision, harness opportunity, and achieve your
                financial goals with Start Market Algo Bot—your gateway to smarter trading.
            </p>
        </article>

        <article class="text-center">
            <h2>
                <p class="text-white text-5xl font-extrabold mb-2 hover:text-6xl">
                    34M+
                </p>
                <span
                    class="inline-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-indigo-300 mb-2">Orders</span>
            </h2>
            <p class="text-sm text-slate-500">
                Start Market Algo Bot revolutionizes trading by providing powerful tools to identify buy and sell
                signals
                based on price action and moving averages.
            </p>
        </article>
    </section>


    <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6 fade-in">
        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <div class="text-white sm:text-lg fade-in">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight">
                    Discover Advanced
                    Trading Strategies with Start Market Algo Bot
                </h2>
                <p class="mb-8 font-light">
                    Start Market Algo Bot revolutionizes trading by providing powerful tools to identify buy and sell
                    signals based on price action and moving averages. Our advanced trading indicator leverages
                    sophisticated algorithms to capture market trends and reversals, offering a comprehensive solution
                    for traders seeking to enhance their trading strategies.
                </p>

                <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
                    <li class="flex space-x-3">

                        <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="text-base font-medium leading-tight text-gray-400">
                            Weighted Moving Averages (WMA)
                        </span>
                    </li>
                    <li class="flex space-x-3">

                        <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="text-base font-medium leading-tight text-gray-400">
                            Dynamic Channel
                        </span>
                    </li>
                    <li class="flex space-x-3">

                        <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="text-base font-medium leading-tight text-gray-400">
                            Color-Coded Trading Signals
                        </span>
                    </li>
                </ul>
                <p class="mb-8 font-light lg:text-xl">
                    Transform your trading experience today. Embrace precision, harness opportunity, and achieve your
                    financial goals with Start Market Algo Bot—your gateway to smarter trading.
                </p>
            </div>
            <img class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex"
                src="https://s3.tradingview.com/news/image/tradingview:20b64cd7c094b-419759e7af963aaf3e948356750b7f97-resized.jpeg"
                alt="dashboard feature image">
        </div>

        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <img class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex"
                src="https://s3.tradingview.com/news/image/tradingview:14b497689094b-cebdd3e21f560f35a0b1aeba574f29c2-resized.jpeg"
                alt="feature image 2">
            <div class="text-gray-500 sm:text-lg dark:text-gray-400 fade-in">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-white">
                    Join the Future of Trading with Start Market Algo Bot
                </h2>
                <p class="mb-8 font-light text-white lg:text-xl">
                    The "Start Market Algo Bot" indicator is designed to identify potential buy
                    and sell signals based on the price action and moving averages. It aims to capture
                    trends and reversals in the market.
                </p>

                <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
                    <li class="flex space-x-3">

                        <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="text-base font-medium leading-tight text-gray-400">
                            Interactive Price Charts
                        </span>
                    </li>
                    <li class="flex space-x-3">

                        <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="text-base font-medium leading-tight text-gray-400">
                            Stop Loss and Target Levels
                        </span>
                    </li>
                    <li class="flex space-x-3">

                        <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="text-base font-medium leading-tight text-gray-400">
                            Confident Trading
                        </span>
                    </li>
                    <li class="flex space-x-3">

                        <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="text-base font-medium leading-tight text-gray-400">
                            Integrated Technical Analysis
                        </span>
                    </li>
                    <li class="flex space-x-3">

                        <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="text-base font-medium leading-tight text-gray-400">
                            Entry Conditions and Exit Conditions
                        </span>
                    </li>
                </ul>
                <p class="font-light lg:text-xl">
                    Trading involves risk. Start Market Algo Bot is designed as a tool to assist in trading decisions
                    and should be used alongside personal judgment and risk management principles.
                </p>
            </div>
        </div>
    </div>
    <!-- component -->
    <section class="py-12 fade-in">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="text-center mb-12">
                <h2 class="text-4xl font-extrabold text-white sm:text-5xl">
                    Pricing Plans
                </h2>
                <p class="mt-4 text-xl text-gray-400">
                    Get Started with Start Market Algo Bot Today!
                </p>
            </div>

            <div class="grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-2 mx-auto">
                <!-- Starter Plan -->
                <div class="bg-gray-800 rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
                    <div class="mb-8">
                        <h4 class="text-2xl font-semibold text-white">StartMarket Algo v0.1</h4>
                        <p class="mt-4 text-gray-400">StartMarket Algo WMA - Volatility Filtering
                        </p>
                    </div>
                    <div class="mb-8 text-white font-serif text-bold">
                        ₹<span class="text-5xl font-extrabold text-white">12,399</span>
                    </div>
                    <ul class="mb-8 space-y-4 text-gray-400">
                        <li class="flex items-center">
                            <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7" />
                            </svg>
                            <span>Advanced Weighted Moving Average (WMA) calculations </span>
                        </li>
                        <li class="flex items-center">
                            <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7" />
                            </svg>
                            <span>Comprehensive Entry and Exit strategy</span>
                        </li>
                        <li class="flex items-center">
                            <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7" />
                            </svg>
                            <span>Clear Visualizations on chart</span>
                        </li>
                        <li class="flex items-center">
                            <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7" />
                            </svg>
                            <span>Color-Coded Trade Opportunities</span>
                        </li>
                    </ul>
                    <a href="/indicators"
                        class="block w-full py-3 px-6 text-center rounded-md text-white font-medium bg-gradient-to-r from-blue-500 to-purple-500 hover:from-blue-600 hover:to-purple-600">
                        Get Started
                    </a>
                </div>

                <!-- Pro Plan -->
                <div class="bg-gray-800 rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
                    <div class="mb-8">
                        <h4 class="text-2xl font-semibold text-white">StartMarket Algo v0.2</h4>
                        <p class="mt-4 text-gray-400">Nyaksha Algo WMA - Volatility Filtering SLT
                        </p>
                    </div>
                    <div class="mb-8 text-white font-serif text-bold">
                        ₹<span class="text-5xl font-extrabold text-white">15,699</span>
                    </div>
                    <ul class="mb-8 space-y-4 text-gray-400">
                        <li class="flex items-center">
                            <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7" />
                            </svg>
                            <span>Advanced Weighted Moving Average (WMA) calculations </span>
                        </li>
                        <li class="flex items-center">
                            <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7" />
                            </svg>
                            <span>Comprehensive Entry and Exit strategy</span>
                        </li>
                        <li class="flex items-center">
                            <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7" />
                            </svg>
                            <span>Clear Visualizations on chart</span>
                        </li>
                        <li class="flex items-center">
                            <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7" />
                            </svg>
                            <span>Color-Coded Trade Opportunities</span>
                        </li>
                        <li class="flex items-center">
                            <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7" />
                            </svg>
                            <span>Automated Stop Loss and Target levels</span>
                        </li>
                    </ul>
                    <a href="/indicators"
                        class="block w-full py-3 px-6 text-center rounded-md text-white font-medium bg-gradient-to-r from-blue-500 to-purple-500 hover:from-blue-600 hover:to-purple-600">
                        Get Started
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock body %}